{% extends 'base.html.twig' %}

{% block title %}New Geogroup{% endblock %}

{% block body %}
    <h1>Create new Geogroup</h1>

    {{ include('geogroup/_form.html.twig') }}

    <a href="{{ path('geogroup_index') }}">back to list</a>
{% endblock %}
