{% extends 'base.html.twig' %}

{% block title %}GeoNow{% endblock %}

{% block body %}
    <h1 style="color: #5e9ca0;"><img src="/img/logos/logo_196px.png"/></h1>
    <p><span style="font-weight: 400;">Impressum</span></p>
    <p><span style="font-weight: 400;">Angaben gem&auml;&szlig; &sect; 5 TMG</span></p>
    <p><span style="font-weight: 400;">Thomas Noël Paulik</span></p>
    <p><span style="font-weight: 400;">Karl-Heine-Str. 58</span></p>
    <p><span style="font-weight: 400;">04177 Leipzig</span></p>
    <p><strong>Vertreten durch:</strong></p>
    <p><span style="font-weight: 400;">TNP</span></p>
    <p><span style="font-weight: 400;"><a href="https://freundeskreis.jahr1000feld.de">Freundeskreis Jahr1000feld e.v.</a></span></p>
    <p><strong>Kontakt:</strong></p>
    <p><span style="font-weight: 400;">E-Mail: </span><a target="_blank" href="mailto:info@geonow.org"><span style="font-weight: 400;">info@geonow.org</span></a></p>
    <h1 style="color: #5e9ca0;">&nbsp;</h1>
    <p><strong>Aufsichtsbeh&ouml;rde:</strong></p>
    <p><strong>Leipzig, GERmany</strong></p>
    <h1 style="color: #5e9ca0;">&nbsp;</h1>
    <p><strong>Haftungsausschluss:</strong></p>
    <h1 style="color: #5e9ca0;">&nbsp;</h1>
    <p><strong>Urheberrecht</strong></p>
    <h1 style="color: #5e9ca0;">&nbsp;</h1>
    <p><span style="font-weight: 400;">Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede Art der Verwertung au&szlig;erhalb der Grenzen des Urheberrechtes bed&uuml;rfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur f&uuml;r den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</span></p>
    <h1 style="color: #5e9ca0;">&nbsp;</h1>
    <p><strong>Datenschutz</strong></p>
    <h1 style="color: #5e9ca0;">&nbsp;</h1>
    <p><span style="font-weight: 400;">Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten m&ouml;glich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit m&ouml;glich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdr&uuml;ckliche Zustimmung nicht an Dritte weitergegeben.</span></p>
    <p><span style="font-weight: 400;">Wir weisen darauf hin, dass die Daten&uuml;bertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitsl&uuml;cken aufweisen kann. Ein l&uuml;ckenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht m&ouml;glich.</span></p>
    <p><span style="font-weight: 400;">Der Nutzung von im Rahmen der Impressumspflicht ver&ouml;ffentlichten Kontaktdaten durch Dritte zur &Uuml;bersendung von nicht ausdr&uuml;cklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdr&uuml;cklich widersprochen. Die Betreiber der Seiten behalten sich ausdr&uuml;cklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.</span></p>
    <h1 style="color: #5e9ca0;">&nbsp;</h1>
    <p><span style="font-weight: 400;">&copy; geonow </span></p>
    <p>
        <span style="font-weight: 400;">ein Projekt von: TNP und Palme </span>
    </p>
{% endblock %}